.navbar {
  background: #acbe3f;
}

.nav {
  background: #efefef;
}

.navbar-brand {
  font-weight: 500;
}

/* div.content a {
  color: #98AB28;
  text-decoration: none;
}
div.content a:focus, div.content a:hover {
  color: #7f8d2c;
  text-decoration: underline;
} */

div.content a {
  text-decoration: underline;
}
div.content a:focus,
div.content a:hover {
  text-decoration: none;
}

nav.pagination a {
  color: #98ab28;
  text-decoration: none;
}
nav.pagination a:focus,
nav.pagination a:hover {
  color: #7f8d2c;
  text-decoration: none;
}

.toc .toc-menu a {
  color: #98ab28;
  text-decoration: none;
}

.toc .toc-menu a:focus,
.toc .toc-menu a:hover {
  color: #7f8d2c;
  text-decoration: none;
}

.toc .toc-menu a.is-active {
  color: #7f8d2c;
  font-weight: 700;
  border-width: 2px;
  border-left-color: #a5a5a5;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link,
.navbar-end .navbar-link:hover,
.navbar-end > a.navbar-item:hover {
  /* background: #efefef; */
  background: #acbe3f;
  color: #000;
}

#search-input {
  width: 250px;
}

.gitlink {
  background: url(../images/github.svg) no-repeat 50% 45%;
  background-size: 50%;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.navbar-end > a.navbar-item:hover > span.gitlink {
  background: url(../images/github.svg) no-repeat 50% 45%;
  background-size: 50%;
  background-color: #acbe3f;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

/* Disable hyphenation */
.doc {
  hyphens: none;
}

.doc pre.highlight code,
.doc .listingblock pre:not(.highlight),
.doc .literalblock pre {
  background: #efefef;
  font-size: 0.8rem;
}

.doc p code,
.doc thead code,
.doc .colist > table code {
  background: #eaeaea;
}

.doc .dlist dt > code {
  color: #d82445;
  font-size: 0.925rem;
  font-weight: 500;
}

mark {
  /* background-color: #ffe5cc; */
  background-color: white;
  padding: 1.5px 0px 1.5px 0px;
  color: #d82445;
}

.doc .dlist dt > mark {
  /* font-size: 0.925rem; */
  font-weight: 300;
}
